
.parent{
     display: flex;
   flex-direction: row;
   justify-content: center;
 }
 .childone{
   width:75%;
   padding:2%;
   border:1px solid red;
   background-color:black;
   margin:2%;
   box-shadow:3px 3px 3px #ddd;
   border-radius:20px;
 }
 .childtwo{
   width:70%;
   padding:2%;
   border:1px solid red;
   margin:2%;
   box-shadow:3px 3px 3px #ddd;
   border-radius:20px;

 }

 img{
   height: 40%;
   width: 40%;
   display:block;
   margin-left:auto;
   margin-right:auto;
 }
@media only screen and (min-width:320px) and (max-width:480px)
 {
 .parent{
      display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .childone{
    width:95%;
    padding:2%;
    border:1px solid red;
    background-color:black;
    margin:2%;
    box-shadow:3px 3px 3px #ddd;
    border-radius:20px;
  }
  .childtwo{
    width:100%;
    padding:2%;
    border:1px solid red;
    margin:2%;
    box-shadow:3px 3px 3px #ddd;
    border-radius:20px;

  }

  img{
    height: 40%;
    width: 40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}
